{% extends "layout.html" %}

{% block content %}

    <h1>Welcome to {{ shop }} shop</h1>

    <!--  Display the Term and Year here --->
    <h3>Social marketing platform</h3>

    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>

            <!-- Construct the rest of courses here -->
            {% for data in productData %}
            <tr>
                <td scope='row'>{{ data["name"] }}</td>
                <td><img src="{{ data["image"] }}" alt="" class="image-catalog"></td>
                <td>{{ data["price"] }}</td>
                <td>
                    <form action="{{ url_for('cart') }}" method="GET" class="form-inline">
                        <div class="form-group">
                            <input type="hidden" name="name" value="{{data['name']}}">
                            <input type="number" class="form-control" id="inputAmount" placeholder="Enter Amount" name="amount">    
                        </div>
                        <button >Add to cart</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <!-------------------------------------->

            </tbody>
        </table>

    </div>

{% endblock %}
