{% extends "layout.html" %}

{% block content %}


<div class="container">
  <br>
  <div class="row">
      <div class="col-6">
        <form action="{{ url_for('sendOrder') }}" method="POST">
          <div class="container">
            <div class="row">
              <h3>Please fill your information</h3>
            </div>
            <div class="row">
              <div class="col-md-auto">
                <label for="name" class="form-label">Enter your name: </label>
              </div>
              <div class="col form-order">
                <input type="text" class="form-control" name="name" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-auto">
                <label for="tel" class="form-label">Enter your phone number: </label>
              </div>
              <div class="col form-order">
                <input type="text" class="form-control" name="tel" placeholder="0XX-XXXXXXX" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-auto">
                <label for="address" class="form-label">Enter your address: </label>
              </div>
              <div class="col form-order">
                <textarea class="form-control" name="address" required></textarea>
              </div>
            </div>
            <div class="row">
              <input type="submit" class="btn btn-primary btn-sm" value="Order">
            </div>
          </div>
        </form>
      </div>

      <div class="col-4">
        <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
              <th scope="col">Product name</th>
              <th scope="col">Amount</th>
              <th scope="col">Total cost</th>
          </tr>
          </thead>
          <tbody>
  
          <!-- Construct the rest of courses here -->
          {% for data in session['cart_list'] %}
          <tr>
              <td>{{ data["product"] }}</td>
              <td>{{ data["amount"] }}</td>
              <td>{{ data["price"]*data["amount"] }}</td>
          </tr>
          {% endfor %}
  
          </tbody>
        </table>
      </div>
  </div>
</div>

{% endblock %}